
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.background {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
}
h1{
    color: #9cc989;
    font-size: large;
    font-family: "Pacifico", serif;
    font-weight: 10;
}


header {
    text-align: center;
    margin-top: 20px;
}

.background {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
}

.title-image {
    width: 200px;
    height: auto;
    border-radius: 50%;
}

.buttons{
    text-align: center;
}

button {
    background-color: #9cc989;
    border: none;
    color: white;
    padding: 10px 20px;
    width: 250px;
    text-decoration: none;
    display: inline-block;
    font-family: "Pacifico", serif;
    font-size: 16px;
    font-weight:10; /* Reduced font weight */
    margin: 10px 5px;
    cursor: pointer;
    border-radius: 5px;
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
    width: 90%;
    margin-top: 20px;
}

